{# lists.html#}
{% extends 'layout.html' %}
{% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
{% endblock %}

{% block title  %}{{ name }}@{{ version }}{% endblock %}

{% block content %}
	<div class="container mt-4">
    <h3 class="mb-1">{{ name }}</h3>
    <p class="text-muted mb-3">Version: {{ version }}</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">文件名 (File)</th>
                <th scope="col">完整路径 (Path)</th>
                <th scope="col" class="text-end">大小 (Size)</th>
            </tr>
        </thead>
        <tbody>

            {% for list in lists %}
            <tr>
                <td>
                    <a href="/{{ name }}@{{ version }}/{{ list.path }}">{{ list.name }}</a>
                </td>
                <td>
                    <span class="text-muted">{{ list.path }}</span>
                </td>
                <td class="text-end">
                    <code>{{ list.size }}</code>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

